.checkBtn{
    border:1px solid rgba(0,0,0,0.7);
    width:1.5rem;
    height:1.5rem;
    border-radius:.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    background:inherit;
}

.checkBtn-active{
    background:#fff;
    padding:.2rem;
}