.container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content h1{
    color: #ffff;
    margin-top: 0;
  }
  
  .btn-ver{
    background-color: #48578B;
    border: none;
    width: 250px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-total-itens, .card-valor-itens{
    background-color: #fafbfc;
    border: none;
    width: 250px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
  }
  
  .link-criar{
    text-align:right;
    margin: 5px 0;
    position:relative;
  }
  
  .container-info{
    display: flex;
  }
  
  .container-nome{
    flex-direction: column;
    display: flex;
    margin-top: 10px;  
    width: 60%;
  }
  
  .container-identificacao{
    flex-direction: column;
    display: flex;
    padding: 10px;
    justify-content: right;
    margin-top: 10px;
  }
  
  .input-nome{
    width: 100%;
    background-color: #232323;
    border: none;
  }
  
  .input-identificacao{
    width:100%;
    background-color: #232323;
    border: none;
  }
  
  .btn-voltar{
    width: 110px;
    height: 40px;
    padding: 10px;
    background: #1F1E1E;
    color: #fff;
    border: none;
    border-radius: 3px;
    float: left;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-voltar:hover{
    background: rgba(123, 123, 124, 0.2);
  }
  
  .btn-cadastrar{
    width: 110px;
    height: 40px;
    padding: 10px;
    background-color: #071C69;
    border: none;
    border-radius: 3px;
    color: #fff;
    float: right;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-cadastrar:hover{
    background-color: #1035b9;
  }
  
  .container-button{
    margin: 40px;
  }
  
  input{
    outline: none;
    height: 30px;
    margin-top: 5px;
    border: solid 1px #D9D9D9;
    width: 50%;
  }
  
  label{
    color: #9DA5A9;
  }
  
  .container-menu{
    display: flex;
    flex-direction: column;
  }
  
  .container-menu label{
    margin-left: 20px;
  }
  
  .menu-select{
    text-align: left;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    background-color: #232323;
    border: none;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    margin:10px 0;
  }
  
  .card-total-itens img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
  }
  
  .card-total-itens h1{
    font-size: 24px;
  }
  
  .card-total-itens p{
    color: #000
  }
  
  .container-etiquetas{
    display: flex;
  }
  
  .modal-overlay{
    background-color:#0404046f;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content{
    width: 80%;
    height: 50%;
    max-width: 500px;
    background-color: #292929;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
  }
  
  button{
    padding: 5px;
    font-size: large;
    float: right;
    cursor: pointer;
  }
  
  .link-criar{
    color: #616780;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .link-criar:hover{
    color: #8085ac;
    text-decoration: underline;
  }
  
  @media(max-width:720px) {
    h1{
      font-size: large;
    }
  
    .modal-content{
      width: 50%;
      height: 40%;
    }
  
    .container-info{
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
    label{
      font-size: small;
    }
  
    .btn-cadastrar, .btn-voltar{
      justify-content: space-between;
      align-items: center; 
    }
  }
  
  @media (min-width: 620px) and (max-width: 719px){
    .modal-content{
      height: 75% ;
    }
  
    .container-info{
      display:flex;
      flex-direction: column;
      align-items:center;
    }
  
    .container-nome, .container-identificacao{
      width: 90%;
    }
  
    .input-nome, .input-identificacao{
      height: 30px;
    }
  }
  
  @media (min-width: 480px) and (max-width: 619px){
    .modal-content{
      width: 60%;
      height: 75%;
    }
    .container-info{
      display:flex;
      flex-direction: column;
      align-items:center;
    }
  
  
    .container-nome, .container-identificacao, .menu-select{
      width: 90%;
    }
  
    .input-nome, .input-identificacao{
      padding: 10px;
      width:  90%;
    }
  
    .btn-cadastrar, .btn-voltar{
      width: 40%;
      font-size: 85%;
    }
  }
  
  @media (max-width: 479px){
    .modal-content{
      width: 80%;
      height: 40%;
    }
  
    .container-info{
      display:flex;
      flex-direction: column;
      align-items:center;
    }
    
    .input-nome, .input-identificacao{
      /* padding: 10px; */
      width:  90%;
    
    }
  
    .container-nome, .container-identificacao, .menu-select{
      width: 90%;
    }
  
    .container-button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .btn-cadastrar, .btn-voltar{
      width: 100%;
      margin: 10px;
    }
  
  }
  