.container-modal-departamento{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-modal-departamento label{
  color: #9DA5A9;
}

.btn-ver{
  background-color: #48578B;
  border: none;
  width: 250px;
  height: 80px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-info{
  display:flex;
  align-items:center;
  justify-content: space-around;
  width:100%;
  margin: 1rem 0;
}

.container-info.col{
  flex-direction: column;
  gap:2rem;
}

.card-total-itens, .card-valor-itens{
  background-color: #fafbfc;
  border: none;
  width: 250px;
  height: 80px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 10px;
}

.card-total-itens{
  background-color: #fff;
  border: none;
  width: 250px;
  height: 80px;
  margin: 10px;
  border-radius: 5px;
  color:#574E4E;
  font-size: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 10px;
  font-family: sans-serif;
}

.modal-content h1{
  color: #574E4E;
  margin-top: 0;
}

.link-criar{
  text-align:right;
  margin: 5px 0;
  position:relative;
}

.container-nome{
  flex-direction: column;
  display: flex;
  margin-top: 10px;  
  width: 60%;
}

.container-identificacao{
  padding: 10px;
  margin-top: 10px;
  width:100%;
}

.input-nome{
  width: 100%;
}

.input-identificacao{
  width:100% !important;
}

.btn-voltar{
  width: 110px;
  height: 40px;
  padding: 10px;
  background: rgba(217, 217, 217, 0.2);
  color: #0038FF;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  float: left;
  transition: all 0.2s ease-in-out;
}

.btn-voltar:hover{
  background: rgba(123, 123, 124, 0.2);
}

.btn-cadastrar{
  height: 40px;
  padding: 10px;
  background-color: #0038FF;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  color: #fff;
  float: right;
  transition: all 0.2s ease-in-out;
}

.btn-cadastrar:hover{
  background-color: #1035b9;
}

.container-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:50%;
  margin-top: 1rem;
}

.input-nome, .input-identificacao{
  outline: none;
  height: 30px;
  margin-top: 5px;
  border: solid 1px #D9D9D9;
}

.container-menu{
  display: flex;
  flex-direction: column;
}

.menu-select{
  text-align: left;
  color: black;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  border: solid 1px #99999962;
  transition: all 0.1s ease-in-out;
  margin:10px 0;
}

.card-total-itens img{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
}

.card-total-itens h1{
  font-size: 24px;
}

.card-total-itens p{
  color: #000
}

.container-etiquetas{
  display: flex;  
}

.modal-overlay{
  background-color:#48578b44;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-departamento{
  width: 80%;
  height: 50%;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

button{
  padding: 5px;
  font-size: large;
  float: right;
  cursor: pointer;
}

.link-criar{
  color: #616780;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.link-criar:hover{
  color: #0118eb;
  text-decoration: underline;
}

.container-info div{
  width:60%;
}

.container-info label{
  width:100%;
  text-align:left;
  font-size: .9rem !important;
  color:rgba(0,0,0,0.6)
}

.container-info .input-room{ 
  width: 100%;
  height:1.7rem;
  margin: 0 !important;
}

#select-department{
  width:100%;
  height: 1.7rem;
}

.txtRed{
  color:red !important;
}

@media(max-width:720px) {
  h1{
    font-size: large;
  }

  .modal-content{
    width: 50%;
    height: 40%;
  }

  label{
    font-size: small;
  }

  .btn-cadastrar, .btn-voltar{
    justify-content: space-between;
    align-items: center; 
  }
}

@media (min-width: 620px) and (max-width: 719px){
  .modal-content{
    height: 75% ;
  }

  .container-nome, .container-identificacao{
    width: 90%;
  }

  .input-nome, .input-identificacao{
    height: 30px;
  }
}

@media (min-width: 480px) and (max-width: 619px){
  .modal-content{
    width: 60%;
    height: 75%;
  }

  .container-nome, .container-identificacao, .menu-select{
    width: 90%;
  }

  .input-nome, .input-identificacao{
    padding: 10px;
    width:  90%;
  }

  .btn-cadastrar, .btn-voltar{
    width: 40%;
    font-size: 85%;
  }
}

@media (max-width: 479px){
  .modal-content{
    width: 80%;
    height: 40%;
  }
  
  .input-nome, .input-identificacao{
    /* padding: 10px; */
    width:  90%;
  
  }

  .container-nome, .container-identificacao, .menu-select{
    width: 90%;
  }

  .container-button{
    flex-direction: column;
  }

  .btn-cadastrar, .btn-voltar{
    width: 100%;
    margin: 10px;
  }

}
